{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="{% url 'store:store' %}" class="list-group-item list-group-item-action btn btn-outline-success"><strong>All Products</strong></a>

				{% for category in categories %}
				<a href="{% url 'store:collection' category.id %}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

        <div id='products' class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3">
                    <a href="{% url 'store:product' %}">
                        <img class="thumbnail" src="{{product.imageURL}}">
                    </a>
                    <div class="box-element product">
                        <h6><strong>{{product.name}}</strong></h6>
                        <hr>
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                         <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block;float: right">$ {{product.price|floatformat:2}}</h4>
                        <br>
                        <h4 style="display: inline-block;float: right">{% widthratio product.price 1 23707.50 %} VND</h4>
                        <br>
                    </div>

                </div>
        {% endfor %}
            </div>
       </div>
    </div>
</div>
{% endblock content %}