<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Goodreads</title>

    <!-- vender css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- bracket css -->
    <link href="{% static 'css/bracket.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="{% static 'css/bracket.dark.css' %}" rel="stylesheet" type="text/css"> -->

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getToken('csrftoken');

    function getCookie(name){
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");

    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++){
        var cookiePair = cookieArr[i].split("=");

        /* Removing whitespace at the beginning of the cookie name
        and compare it with the siven string */
        if(name == cookiePair[0].trim()){
        //Decode the cookie value and return
        return decodeURIComponent(cookiePair[1]);
    }
    }

    // Return null if not found
    return null;
    }

    var cart = JSON.parse(getCookie('cart'))
    if(cart == undefined){
        cart = {}
        console.log('Cart was created!')
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    console.log('Cart:', cart)

    </script>

</head>
<body>
  <div class="ht-md-60 wd-200 wd-md-auto bg-br-primary pd-x-20 pd-y-20 pd-md-y-0 d-flex align-items-center justify-content-between">
    <a href="{% url 'store:store' %}" class="mg-b-0 tx-uppercase tx-bold tx-spacing--2 tx-inverse mg-r-20 tx-poppins"><img src="{% static 'images/goodreads-icon.png' %}" alt="" style="width: 30px; height: 30px;"></a>
    <ul class="nav nav-effect nav-effect-2 flex-column flex-md-row" role="tablist">
      <!-- <li class="nav-item current"><a class="nav-link active show" href="{% url 'store:store' %}" role="tab" aria-selected="true">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#" role="tab" aria-selected="false">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#" role="tab" aria-selected="false">Services</a></li>
      <li class="nav-item"><a class="nav-link" href="#" role="tab">Contact</a></li> -->
    </ul>
    <div>
      <ul class="nav nav-effect nav-effect-2 flex-column flex-md-row" role="tablist">
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i>
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item">Hello, {{user.username }}</span>
              <a class="dropdown-item" href="{% url 'store:feedback' %}">Feedback</a>
              <a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'store:cart' %}" role="tab" aria-selected="false">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="cart_number">{{cartItems}}</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item current">
            <a class="nav-link active show" href="{% url 'users:login' %}" role="tab" aria-selected="true">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}" role="tab" aria-selected="false">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'store:cart' %}" role="tab" aria-selected="false">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="cart_number">{{cartItems}}</span>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>

  <div class="content-wrap">
    {% block content %}
    {% endblock content %}
  </div>

  <footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>company</h4>
         <ul>
           <li><a href="#">About us</a></li>
           <li><a href="#">Our services</a></li>
           <li><a href="#">Privacy policy</a></li>
           <li><a href="#">Affiliate program</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>get help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Shipping</a></li>
           <li><a href="#">Returns</a></li>
           <li><a href="#">Order status</a></li>
           <li><a href="#">Payment options</a></li>
         </ul>
       </div>
       <!-- <div class="footer-col">
         <h4>Online shop</h4>
         <ul>
           <li><a href="#">Watch</a></li>
           <li><a href="#">Bag</a></li>
           <li><a href="#">Shoes</a></li>
           <li><a href="#">Dress</a></li>
         </ul>
       </div> -->
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/perfect-scrollbar/1.5.5/perfect-scrollbar.min.js" integrity="sha512-X41/A5OSxoi5uqtS6Krhqz8QyyD8E/ZbN7B4IaBSgqPLRbWVuXJXr9UwOujstj71SoVxh5vxgy7kmtd17xrJRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

  <script src="{% static 'js/bracket.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>